<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('styles/component.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('styles/demo.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('styles/styles.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('styles/login.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('styles/table.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('styles/contact.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('styles/fade.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
      
      	
   
	
    
   
    </head>
    
         

	
 
  
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        {% endblock %}
        
    
	
</html>

